@font-face {
  font-family: 'AmazonFont';
  src: url('./fonts/amazon.woff2') format('woff2');
}

body {
  margin: 30px;
  font-size: 25px;
  font-family: 'AmazonFont', sans-serif;;
}

.App-intro {
  font-size: 1005px;
}

